.tableHead {
  background-color: #d3d3d380;

  color: gray;
}
.profileIcon {
  width: 30px;
  height: 45px;
}
.textFont {
  font-size: 12px;
  color: #9b9494;
}
table {
  border-spacing: 30px;
}
.inputBox {
  border-radius: 10px;
  border: transparent;
  width: 250px;
  background-color: #d3d3d380;
}
.contactButton {
  background-image: linear-gradient(to right, #ee9a4d, #f67280);

  color: white;
  border: transparent;
  border-radius: 5px;
}
.searchIcon {
  position: absolute;
  right: 28%;
  top: 7%;
}
.noData {
  position: absolute;
  right: 45%;
}
